@import "src/vars";
@import "src/elements";
@import "src/layout";

body {
  font-family: $f-cabin;
  // overflow: hidden;d: f;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html,
body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
}
.main-wrapper {
  width: 100vw;
  padding-top: 80px;
  overflow: hidden;
  // display: block;
}

.hero-wrapper {
  position: relative;
  background-color: #a18f8b;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
    object-position: top center;
    height: 55vw;
    max-height: 850px;
    min-height: 420px;
  }
  .hero-wrapper--container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &:before {
      content: "";
      background: linear-gradient(to right, transparent, black);
      width: 65%;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      opacity: 0.3;
      pointer-events: none;
    }
  }
  .content {
    z-index: 1;
    color: white;
    width: 34%;
    padding: 0 15px 0 0;
    h1 {
      font-size: 35px;
      font-weight: 400;
    }
    .content-button {
      position: relative;
      display: inline-block;
      text-align: center;
      margin-top: 20px;
      p {
        margin: 10px 0 0 0;
      }
      &:before {
        content: "";
        width: 1px;
        height: 150px;
        background-color: white;
        display: inline-block;
        position: absolute;
        bottom: -100%;
        left: 50%;
        top: 120%;
      }
    }
  }
  @media (max-width: 1200px) {
    br {
      display: none;
    }
  }
  @media (max-width: 992px) {
    .content {
      h1 {
        font-size: 30px;
      }
    }
  }
  @media (max-width: 768px) {
    .content {
      h1 {
        font-size: 25px;
      }
    }
  }
  @media (max-width: 610px) {
    img {
      object-position: right center;
    }
    .content {
      margin: auto;
      text-align: center;
      width: 70%;
      padding: 15px;
    }
    .hero-wrapper--container {
      &:before {
        width: 100%;
        opacity: 0.5;
      }
    }
  }
}

.section-bienvenido {
  background-color: #ebebeb;
  .swiper-slide {
    padding: 100px 0 130px 0;
  }
  h3 {
    font-size: 35px;
  }
  p {
    font-size: 18px;
    font-weight: 500;
  }
  small {
    font-size: 16px;
    display: block;
  }
  .btn-rounded {
    width: 250px;
    margin-bottom: 10px;
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 50%;
      padding: 15px;
    }
  }
  .swiper-pagination-bullet {
    background-color: #383d3e;
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  @media (max-width: 1200px) {
    br {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .swiper-slide {
      padding: 70px 0;
    }
  }
  @media (max-width: 576px) {
    .swiper-slide {
      padding: 50px 0;
    }
    text-align: center;

    figure {
      flex-direction: column;
      img {
        width: 60%;
        &:first-child {
          padding-left: 0;
          margin-left: -60px;
        }
        &:last-child {
          padding-right: 0;
          margin-right: -60px;
        }
      }
    }
  }
}

.section-contador {
  position: relative;
  color: white;
  .container,
  .row,
  .col-12 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .col-12 {
    display: flex;
    align-items: center;
  }
  h3 {
    font-size: 35px;
  }
  p {
    font-size: 18px;
    font-weight: 500;
  }
  .content {
    max-width: 300px;
  }
  img {
    min-height: 400px;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    text-align: center;
    .content {
      padding: 0 20px;
      margin: auto;
    }
  }
}

.section-beneficios {
  padding: 100px 0;
  background-color: $c-black;
  background-image: url("../img/pattern.png");
  background-size: 70%;
  background-position: bottom right;
  background-repeat: no-repeat;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    .item {
      margin: 0 30px;
      text-align: center;
      flex-shrink: 0;
    }
    p {
      margin: 0;
      color: white;
      line-height: 1;
      margin-top: 20px;
      font-size: 22px;
      font-weight: 300;
      font-family: $f-roboto;
    }
    img {
      width: 90px;
    }
  }
  @media (max-width: 800px) {
    padding: 70px 0;
    background-size: 100% auto;
    .content {
      flex-wrap: wrap;
      .item {
        margin: 20px 0;
        width: 30%;
      }
    }
  }
  @media (max-width: 576px) {
    padding: 30px 0;
    .content {
      .item {
        width: 50%;
        img {
          width: 70px;
        }
      }
      p {
        font-size: 18px;
      }
    }
  }
}

.section-testimonios {
  padding: 100px;
  background-color: #ebebeb;
  .swiper-pagination-bullet {
    background-color: #383d3e;
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  .quote {
    align-items: center;
    justify-content: center;
    display: flex;
    .avatar {
      margin-right: 30px;
      img {
        width: 120px;
        border-radius: 50%;
      }
    }
    blockquote {
      width: 100%;
      max-width: 600px;
      text-align: center;
      font-size: 18px;
      position: relative;
      padding: 0 50px;
      margin: 0;
      &:before {
        content: "";
        width: 35px;
        height: 29px;
        background-image: url("../img/quote-1.svg");
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:after {
        content: "";
        width: 35px;
        height: 29px;
        background-image: url("../img/quote-2.svg");
        display: inline-block;
        position: absolute;
        bottom: 40px;
        right: 0;
      }
    }
  }
  .stars {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    .star {
      width: 25px;
      height: 25px;
      background-image: url("../img/star.svg");
      margin: 0 5px;
      &.active {
        background-image: url("../img/star-active.svg");
      }
    }
  }
  @media (max-width: 768px) {
    padding: 70px 0;
  }
  @media (max-width: 576px) {
    padding: 50px 0;
    .quote {
      flex-direction: column;
      .avatar {
        margin: 0 0 20px 0;
        img {
          width: 80px;
        }
      }
      blockquote {
        font-size: 16px;
        padding: 0 40px;
        &:after,
        &:before {
          width: 25px;
          height: 21px;
        }
      }
    }
  }
}

.section-precios {
  padding: 80px 0;
  h3 {
    margin-bottom: 40px;
    text-align: center;
  }
  .item {
    width: 100%;
    border-radius: 10px;
    .item-title {
      background-color: #a3a3a3;
      padding: 20px;
      text-align: center;
      color: white;
      font-size: 28px;
      font-family: $f-roboto;
      border-radius: 10px 10px 0 0;
      font-weight: 500;
      letter-spacing: -0.02em;
    }
    .item-row {
      background-color: #e8e8e8;
      padding: 15px 25px;
      text-align: center;
      background-image: url("../img/check.svg");
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: 25px 50%;
      position: relative;
      &:before {
        content: "";
        width: 80%;
        background-color: #d0d0d0;
        height: 1px;
        display: block;
        position: absolute;
        bottom: 0;
      }
    }
    .item-precio {
      background-color: #e8e8e8;
      padding: 15px 25px;
      text-align: center;
      font-size: 22px;
      font-family: $f-roboto;
    }
    .item-btn {
      margin-top: 5px;
      background-color: #fff;
      padding: 14px;
      text-align: center;
      color: #383d3e;
      font-size: 23px;
      border-radius: 0 0 10px 10px;
      display: block;
      font-family: $f-roboto;
      letter-spacing: -0.02em;
      font-weight: 600;
      text-decoration: none;
    }
    @media (max-width: 992px) {
      margin-bottom: 20px;
      .item-btn {
        box-shadow: 0 0 0 1px #e8e8e8;
      }
    }
  }
}
