// [data-aos="fadeup"] {
//   opacity: 0;
//   transform: translate3d(0, 40px, 0);
//   transition-property: transform, opacity;

//   &.aos-animate {
//     opacity: 1;
//     transform: translate3d(0, 0, 0);
//   }

//   // @media screen and (min-width: 768px) {
//   //   transform: translateX(100px);

//   //   &.aos-animate {
//   //     transform: translateX(0);
//   //   }
//   // }
// }

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUp {
  animation-name: fadeUp;
}
