.button-2 {
  border: 0;
  background-color: $c-green;
  height: 45px;
  border-radius: 6px;
  color: white;
  padding: 0 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: 0.5s background-color, 0.5s border-radius, 0.2s transform;
  outline: none;
  &:active {
    transform: scale(0.98);
    outline: none;
  }
  img {
    width: 15px;
    margin-right: 5px;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $c-green2;
    border-radius: 50px;
    outline: none;
  }
}

.button-1 {
  border: 0;
  background: $c-gradient-radial;
  height: 45px;
  border-radius: 6px;
  color: white;
  padding: 0 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: 0.5s background-color, 0.5s border-radius, 0.2s transform;
  outline: none;
  &:active {
    transform: scale(0.98);
    outline: none;
  }
  img {
    width: 15px;
    margin-right: 5px;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $c-green2;
    border-radius: 50px;
    outline: none;
    color: white;
    text-decoration: none;
  }
}

.custom-input {
  height: 45px;
  border: 1px solid #ededed;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
  transition: 0.3s border-color;
  &:focus {
    border-color: $c-green;
  }
}

.card-destino {
  padding: 15px;
  width: 300px;
  height: 300px;
  // display: inline-flex;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px auto;
  &:before {
    content: "";
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .badge-id {
    background: $c-gradient;
    height: 40px;
    padding: 0 20px;
    border-radius: 0 0 0 5px;
    color: white;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
  }
  h5 {
    width: calc(100% - 50px);
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    span {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .servicios {
    display: flex;
    position: relative;
    color: white;
    font-size: 17px;
    font-weight: 600;
    .personas,
    .cama,
    .ducha {
      padding-left: 22px;
      background-repeat: no-repeat;
      margin-right: 15px;
      background-size: 16px;
      background-position: left center;
    }
    .personas {
      background-image: url("../img/icon-user.svg");
    }
    .cama {
      background-image: url("../img/icon-bed.svg");
    }
    .ducha {
      background-image: url("../img/icon-bath.svg");
    }
  }
  transition: 0.2s transform;
  &:hover {
    text-decoration: none;
    transform: scale(1.025);
  }
  @media (max-width: 992px) {
    width: 100%;
    height: 300px;
  }
  @media (max-width: 576px) {
    height: 250px;
  }
}

.buscador {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .buscador-button {
    width: 100%;
    text-align: center;
    button {
      width: 520px;
      margin-top: 25px;
    }
  }

  figure {
    margin: 0 0 10px 0;
    img {
      height: 27px;
    }
  }
  input {
    height: 45px;
    border-radius: 5px;
    background-color: white;
    border: 0;
    font-size: 15px;
    padding-left: 10px;
    width: 170px;
    margin-right: 5px;
    outline: none;
  }

  .inputs {
    display: flex;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    figure {
      display: none;
    }
    .inputs {
      flex-direction: column;
    }
    input {
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
    }
    .buscador-button {
      button {
        width: 100%;
        font-size: 11.5px;
        margin-top: 10px;
        img {
          display: none;
        }
      }
    }
  }
}
