.main-header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-header__logo {
    margin: 0;
    img {
      width: 180px;
    }
  }
  .main-header__nav {
    a {
      height: 80px;
      padding: 0 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $c-text;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.1s color;
      position: relative;
      vertical-align: bottom;
      svg {
        // fill: $c-text;
        fill: #b3b3b3;
        width: 17px;
        transition: 0.1s fill;
        // transform: translateY(3px);
      }
      &:hover,
      &.active {
        color: $c-green;
        svg {
          fill: $c-green;
        }
      }
      &.active {
        &:before {
          content: "";
          width: calc(100% - 10px);
          height: 3px;
          border-radius: 3px;
          background-color: $c-green;
          display: inline-block;
          position: absolute;
          bottom: 15px;
        }
      }
    }
  }
  .btn-menu {
    display: none;
  }
  @media (max-width: 992px) {
    .main-header__logo {
      img {
        max-width: 130px;
      }
    }
  }
  @media (max-width: 767px) {
    min-height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;
    .btn-menu {
      display: flex;
      cursor: pointer;

      height: 60px;
      width: 60px;
      align-items: center;
      justify-content: center;
      .menu-open {
        display: block;
        width: 20px;
        height: 20px;
      }
      .menu-close {
        display: none;
        width: 15px;
        height: 15px;
      }
      &.active {
        .menu-open {
          display: none;
        }
        .menu-close {
          display: block;
        }
      }
    }
    .main-header__nav {
      display: none;
      position: fixed;
      background: white;
      flex-direction: column;
      left: 0;
      right: 0;
      top: 60px;
      &.active {
        display: flex;
      }
      a {
        height: 50px;
        border-top: 1px solid #eee;
        &.active {
          &:before {
            content: none;
          }
        }
      }
    }
  }
}
