.main-slider {
  //   background-image: url("../img/slider-1.jpg");
  //   background-size: cover;
  //   background-position: center;
  // padding: 100px 0;
    display: flex;
    min-height: 40vw;
    max-height: 600px;
    align-items: center;
    justify-content: center;
  position: relative;
  .main-slider__carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .owl-stage-outer,
    .owl-stage,
    .owl-item {
      height: 100%;
    }
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &:before {
      content: "";
      // background: linear-gradient(to right, rgba(29, 30, 31, 0.3) 0%, rgba(0, 0, 0, 0) 50%, rgba(29, 30, 31, 0.3) 100%);
      background: linear-gradient(to right, rgba(29, 30, 31, 0.4) 0%, rgba(29, 30, 31, 0.1) 50%, rgba(29, 30, 31, 0.4) 100%);
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
    }
  }
  .main-slider__content {
    position: relative;
    z-index: 10;
    h1 {
      text-align: center;
      color: white;
      font-weight: 300;
      font-size: 50px;
      margin-bottom: 50px;
    }
  }

  @media (max-width: 767px) {
    padding: 50px 0;
    .main-slider__content {
      h1 {
        font-size: 23px;
        text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.main-experiencia {
  padding: 60px 0;
  background-color: #f9f9f9;
  .container {
    max-width: 980px;
  }
  h2 {
    text-align: center;
    font-size: 35px;
    span {
      @include gradient-text;
    }
  }
  p {
    text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
    font-weight: 400;
  }
  .item-experiencia {
    text-align: center;
    max-width: 250px;
    margin: auto;
    img {
      width: 60px;
    }
    h3 {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
    }
    p {
      font-size: 13px;
      font-weight: 500;
      margin: 0;
    }
  }
  @media (max-width: 767px) {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
      margin-bottom: 0;
    }
    .item-experiencia {
      margin-top: 35px;
      p {
        font-size: 12px;
      }
      h3 {
        font-size: 18px;
      }
    }
  }
}

.main-destinos {
  padding: 60px 0;

  //   .container {
  // max-width: 1000px;
  //   }
  .main-destinos__carousel {
    padding: 0 40px;
  }
  h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
    span {
      @include gradient-text;
    }
  }
  .owl-nav {
    img {
      width: 15px;
    }
    .owl-prev {
      position: absolute;
      outline: none;
      top: calc(50% - 12.5px);
      left: 0;
      img {
        transform: rotate(180deg);
      }
    }
    .owl-next {
      position: absolute;
      outline: none;
      top: calc(50% - 12.5px);
      right: 0;
    }
  }

  @media (max-width: 992px) {
    .owl-item {
      padding: 10px;
    }
  }
  @media (max-width: 767px) {
    .owl-item {
      padding: 0;
    }
    .main-destinos__carousel {
      padding: 0 25px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
}

.main-quienes_somos {
  display: flex;
  background-color: #f7f7f7;
  figure {
    margin: 0;
    width: 45%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .separador {
    width: 70px;
    height: 4px;
    border-radius: 5px;
    background: $c-gradient2;
    display: inline-block;
    margin-bottom: 20px;
  }
  .content {
    width: 55%;
    padding: 50px;

    font-size: 12px;
    font-weight: 500;
    line-height: 1.8em;
    p {
      max-width: 650px;
      &:last-child {
        margin: 0;
      }
    }
  }

  h2 {
    font-size: 30px;
    margin-bottom: 25px;
    span {
      @include gradient-text;
    }
  }
  @media (max-width: 767px) {
    flex-direction: column;
    figure {
      width: 100%;
      order: 2;
    }
    .content {
      width: 100%;
      order: 1;
      padding: 50px 20px;
    }
    h2 {
      font-size: 24px;
      text-align: center;
    }
    .separador {
      width: 30px;
      height: 3px;
    }
  }
}

.main-newsletter {
  padding: 75px 0;
  text-align: center;
  h2 {
    font-size: 25px;
    margin-bottom: 25px;
    color: #222;
  }
  .newsletter {
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      figure {
        img {
          width: 60px;
        }
      }
      input {
        margin: 0 10px;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 50px 0;
    .newsletter {
      form {
        flex-direction: column;
        figure {
          display: none;
        }
        input {
          width: 100%;
          margin-bottom: 10px;
        }
        button {
          width: 100%;
        }
      }
    }
  }
}
