.page-single + .main-footer {
  @media (max-width: 767px) {
    margin-bottom: 34px;
  }
}

.page-single {
  .page-header {
    height: 40vw;
    max-height: 600px;
    width: 100%;
    .page-header--carousel,
    .owl-stage,
    .owl-stage-outer,
    .owl-item {
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .owl-dots {
      position: absolute;
      left: 0;
      bottom: 20px;
      right: 0;
      z-index: 10;
      text-align: center;
      button {
        margin: 0 5px;
        outline: none;
        span {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: inline-block;
          background-color: rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 0 1px white;
          transition: 0.2s background-color;
        }
        &.active {
          span {
            background-color: white;
          }
        }
      }
    }
  }
  .page-single--content {
    padding: 50px 0;
    // .container {
    //   max-width: 1100px;
    // }
    .box-content {
      padding: 70px 50px 50px 50px;
      background-color: #f9f9f9;
      border: 1px solid #ededed;
      border-radius: 5px;
      position: relative;

      .id {
        background: $c-gradient;
        height: 40px;
        padding: 0 20px;
        border-radius: 0 0 5px 5px;
        color: white;
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        position: absolute;
        top: 0;
        left: 50px;
        font-size: 15px;
      }

      .box-title {
        color: #333;
        font-size: 18px;
        font-weight: 500;
      }
      .title {
        color: $c-green;
        font-size: 25px;
        font-weight: 400;
      }
      .ubicacion {
        color: #666;
        font-size: 14px;
        b {
          font-weight: 600;
        }
      }
      .datos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        margin: 25px 0;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        .item {
          width: 25%;
          figure {
            margin: 0 0 10px 0;
          }
          img {
            width: 30px;
            height: 20px;
          }
          h5 {
            font-size: 17px;
            font-weight: 700;
            color: #333;
            margin: 0;
          }
        }
      }
      .descripcion {
        margin-bottom: 30px;
        p {
          color: #666;
        }
      }
      .servicios {
        margin-bottom: 30px;
        ul {
          margin: 0;
          padding: 0;
          column-count: 3;
        }
        li {
          list-style: none;
          color: #666;
          padding: 2px 0;
          &:before {
            vertical-align: -3px;
            margin-right: 6px;
            content: "";
            width: 15px;
            height: 15px;
            display: inline-block;
            background-image: url("../img/icon-checkbox.svg");
          }
        }
      }
      .ubicacion {
        iframe {
          width: 100%;
        }
      }
    }

    .box-aside {
      position: sticky;
      top: 60px;
      .box-aside--header {
        background-color: #727272;
        border-radius: 5px 5px 0 0;
        padding: 20px 30px;
        p {
          margin: 0;
          color: white;
          font-size: 18px;
        }
        b {
          font-size: 27px;
        }
        .btn-mobile-close {
          display: none;
        }
      }
      .box-aside--content {
        border-radius: 0 0 5px 5px;
        padding: 30px;

        background-color: #f9f9f9;
        border: 1px solid #ededed;
        .enviado {
          h4 {
            color: $c-green;
            font-size: 24px;
          }
          h5 {
            font-weight: 400;
            font-size: 17px;
            color: #333;
            margin: 15px 0;
            b {
              font-weight: 600;
            }
          }
          hr {
            margin-bottom: 40px;
          }
          p {
            margin: 0;
          }
        }
        .copy {
          margin-top: 10px;
          display: flex;
          align-items: center;
          figure {
            margin: 0;
          }
          img {
            width: 33px;
            margin-right: 10px;
          }
          p {
            margin: 0;
            color: #666;
            font-size: 10px;
          }
        }
        .form {
          input {
            width: 100%;
            margin-bottom: 10px;
          }
          button {
            width: 100%;
          }
          .fechas {
            display: flex;
            justify-content: space-between;
            input {
              width: calc(50% - 5px);
            }
          }
        }
      }
    }

    .box-reservar {
      display: none;
    }
    @media (max-width: 767px) {
      padding: 0;
      .box-content {
        padding: 50px 10px 0 10px;
        background: none;
        border: 0;
        .id {
          left: 15px;
        }
        .datos {
          flex-wrap: wrap;
          .item {
            width: 50%;
            &:first-child,
            &:nth-child(2) {
              margin-bottom: 20px;
            }
          }
        }
        .servicios {
          ul {
            column-count: 2;
          }
        }
        .ubicacion {
          iframe {
            height: 90vw;
            margin-left: -25px;
            margin-right: -25px;
            width: calc(100% + 50px);
          }
        }
      }
      .box-reservar {
        display: flex;
        justify-content: space-between;
        z-index: 100;
        background-color: #727272;
        // height: 100px;
        height: 90px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        p {
          margin: 0 10px 0 0;
          color: white;
          font-size: 13px;
        }
        b {
          display: block;
          font-size: 27px;
          line-height: 1;
        }
      }
      .box-aside {
        // display: none;

        transform: translate3d(0, 100%, 0);
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 100;
        height: calc(100vh - 60px);
        background-color: #f9f9f9;
        overflow: auto;
        transition: .5s transform ease-in-out;
        &.active {
          // display: block;

          transform: translate3d(0, 0%, 0);
        }
        .box-aside--header {
          border-radius: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .btn-mobile-close {
            display: inline-block;
          }
          img {
            width: 20px;
          }
          p {
            margin: 0 10px 0 0;
            color: white;
            font-size: 13px;
          }
          b {
            display: block;
            font-size: 27px;
            line-height: 1;
          }
        }
        .box-aside--content {
          border-radius: 0;
          border-bottom: 0;
        }
      }
    }
  }
}
