.page-contacto {
  .page-header {
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    // @media (max-width: 767px) {
    //   display: none;
    // }
  }
  .page-contacto--content {
    padding: 50px 0;
    .container {
      max-width: 950px;
    }
    .col-title {
      text-align: center;

      h2 {
        font-size: 35px;
        span {
          @include gradient-text;
        }
      }
      p {
        font-size: 17px;
        margin-bottom: 50px;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        max-width: 550px;
        letter-spacing: -0.02em;
      }
    }
    .form {
      input {
        width: 100%;
        margin-bottom: 10px;
      }
      textarea {
        width: 100%;
        min-height: 100px;
        resize: none;
        margin-bottom: 10px;
        padding-top: 10px;
      }
    }
    .contact-aside {
      .item {
        margin-bottom: 15px;
        figure {
          margin: 0 0 10px 0;
          img {
            width: 100px;
            height: 100px;
            border-radius: 3px;
          }
        }
        h2 {
          font-size: 22px;
          margin: 0;
          font-weight: 400;
        }
        .whatsapp {
          color: $c-green;
          font-weight: 700;
          letter-spacing: 0.1em;
        }
      }
      .email {
        a {
          font-size: 20px;
          color: #333;
        }
      }
      @media(max-width: 768px){
          margin-top: 15px;
      }
    }
  }
}
