.main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-header .main-header__logo {
  margin: 0;
}
.main-header .main-header__logo img {
  width: 180px;
}
.main-header .main-header__nav a {
  height: 80px;
  padding: 0 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.1s color;
  transition: 0.1s color;
  position: relative;
  vertical-align: bottom;
}
.main-header .main-header__nav a svg {
  fill: #b3b3b3;
  width: 17px;
  -webkit-transition: 0.1s fill;
  transition: 0.1s fill;
}
.main-header .main-header__nav a:hover, .main-header .main-header__nav a.active {
  color: #5ce1aa;
}
.main-header .main-header__nav a:hover svg, .main-header .main-header__nav a.active svg {
  fill: #5ce1aa;
}
.main-header .main-header__nav a.active:before {
  content: "";
  width: calc(100% - 10px);
  height: 3px;
  border-radius: 3px;
  background-color: #5ce1aa;
  display: inline-block;
  position: absolute;
  bottom: 15px;
}
.main-header .btn-menu {
  display: none;
}
@media (max-width: 992px) {
  .main-header .main-header__logo img {
    max-width: 130px;
  }
}
@media (max-width: 767px) {
  .main-header {
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;
  }
  .main-header .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    height: 60px;
    width: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-header .btn-menu .menu-open {
    display: block;
    width: 20px;
    height: 20px;
  }
  .main-header .btn-menu .menu-close {
    display: none;
    width: 15px;
    height: 15px;
  }
  .main-header .btn-menu.active .menu-open {
    display: none;
  }
  .main-header .btn-menu.active .menu-close {
    display: block;
  }
  .main-header .main-header__nav {
    display: none;
    position: fixed;
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    right: 0;
    top: 60px;
  }
  .main-header .main-header__nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-header .main-header__nav a {
    height: 50px;
    border-top: 1px solid #eee;
  }
  .main-header .main-header__nav a.active:before {
    content: none;
  }
}

.main-footer {
  padding: 30px 0;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  margin-top: auto;
}
.main-footer .logo {
  max-width: 150px;
  margin-bottom: 15px;
}
.main-footer .col-social {
  text-align: right;
}
.main-footer .social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 0 1px white;
          box-shadow: inset 0 0 0 1px white;
  -webkit-transition: 0.2s background-color, 0.2s -webkit-box-shadow;
  transition: 0.2s background-color, 0.2s -webkit-box-shadow;
  transition: 0.2s background-color, 0.2s box-shadow;
  transition: 0.2s background-color, 0.2s box-shadow, 0.2s -webkit-box-shadow;
}
.main-footer .social a svg {
  width: 30px;
  height: 30px;
  fill: white;
  -webkit-transition: 0.2s fill;
  transition: 0.2s fill;
}
.main-footer .social a:hover {
  -webkit-box-shadow: inset 0 0 0 1px #6ee78c;
          box-shadow: inset 0 0 0 1px #6ee78c;
  background-color: rgba(51, 51, 51, 0.6);
}
.main-footer .social a:hover svg {
  fill: #6ee78c;
}
@media (max-width: 768px) {
  .main-footer .col-social {
    text-align: center;
  }
  .main-footer .social {
    margin-bottom: 30px;
  }
  .main-footer .social a {
    width: 45px;
    height: 45px;
  }
  .main-footer .social a svg {
    width: 17px;
    height: 17px;
  }
  .main-footer .logo {
    max-width: 100px;
  }
  .main-footer p {
    font-size: 12px;
  }
}

.bottom-footer p {
  font-size: 11px;
  color: #666666;
  margin: 0;
  text-align: center;
  padding: 20px 0;
}

.button-2 {
  border: 0;
  background-color: #5ce1aa;
  height: 45px;
  border-radius: 6px;
  color: white;
  padding: 0 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  -webkit-transition: 0.5s background-color, 0.5s border-radius, 0.2s -webkit-transform;
  transition: 0.5s background-color, 0.5s border-radius, 0.2s -webkit-transform;
  transition: 0.5s background-color, 0.5s border-radius, 0.2s transform;
  transition: 0.5s background-color, 0.5s border-radius, 0.2s transform, 0.2s -webkit-transform;
  outline: none;
}
.button-2:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  outline: none;
}
.button-2 img {
  width: 15px;
  margin-right: 5px;
}
.button-2:focus {
  outline: none;
}
.button-2:hover {
  background-color: #6ee78c;
  border-radius: 50px;
  outline: none;
}

.button-1 {
  border: 0;
  background: radial-gradient(circle, #04d6f1 0%, #6ee78c 100%);
  height: 45px;
  border-radius: 6px;
  color: white;
  padding: 0 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  -webkit-transition: 0.5s background-color, 0.5s border-radius, 0.2s -webkit-transform;
  transition: 0.5s background-color, 0.5s border-radius, 0.2s -webkit-transform;
  transition: 0.5s background-color, 0.5s border-radius, 0.2s transform;
  transition: 0.5s background-color, 0.5s border-radius, 0.2s transform, 0.2s -webkit-transform;
  outline: none;
}
.button-1:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  outline: none;
}
.button-1 img {
  width: 15px;
  margin-right: 5px;
}
.button-1:focus {
  outline: none;
}
.button-1:hover {
  background-color: #6ee78c;
  border-radius: 50px;
  outline: none;
  color: white;
  text-decoration: none;
}

.custom-input {
  height: 45px;
  border: 1px solid #ededed;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
  -webkit-transition: 0.3s border-color;
  transition: 0.3s border-color;
}
.custom-input:focus {
  border-color: #5ce1aa;
}

.card-destino {
  padding: 15px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px auto;
  -webkit-transition: 0.2s -webkit-transform;
  transition: 0.2s -webkit-transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform;
}
.card-destino:before {
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(30%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-destino .badge-id {
  background: -webkit-gradient(linear, left top, right top, from(#04d6f1), to(#6ee78c));
  background: linear-gradient(90deg, #04d6f1 0%, #6ee78c 100%);
  height: 40px;
  padding: 0 20px;
  border-radius: 0 0 0 5px;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
}
.card-destino h5 {
  width: calc(100% - 50px);
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}
.card-destino h5 span {
  font-size: 14px;
  font-weight: 400;
}
.card-destino .servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: white;
  font-size: 17px;
  font-weight: 600;
}
.card-destino .servicios .personas,
.card-destino .servicios .cama,
.card-destino .servicios .ducha {
  padding-left: 22px;
  background-repeat: no-repeat;
  margin-right: 15px;
  background-size: 16px;
  background-position: left center;
}
.card-destino .servicios .personas {
  background-image: url("../img/icon-user.svg");
}
.card-destino .servicios .cama {
  background-image: url("../img/icon-bed.svg");
}
.card-destino .servicios .ducha {
  background-image: url("../img/icon-bath.svg");
}
.card-destino:hover {
  text-decoration: none;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}
@media (max-width: 992px) {
  .card-destino {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 576px) {
  .card-destino {
    height: 250px;
  }
}

.buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.buscador .buscador-button {
  width: 100%;
  text-align: center;
}
.buscador .buscador-button button {
  width: 520px;
  margin-top: 25px;
}
.buscador figure {
  margin: 0 0 10px 0;
}
.buscador figure img {
  height: 27px;
}
.buscador input {
  height: 45px;
  border-radius: 5px;
  background-color: white;
  border: 0;
  font-size: 15px;
  padding-left: 10px;
  width: 170px;
  margin-right: 5px;
  outline: none;
}
.buscador .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .buscador {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buscador figure {
    display: none;
  }
  .buscador .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buscador input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .buscador .buscador-button button {
    width: 100%;
    font-size: 11.5px;
    margin-top: 10px;
  }
  .buscador .buscador-button button img {
    display: none;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fadeUp {
  -webkit-animation-name: fadeUp;
          animation-name: fadeUp;
}

.main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40vw;
  max-height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.main-slider .main-slider__carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-slider .main-slider__carousel .owl-stage-outer,
.main-slider .main-slider__carousel .owl-stage,
.main-slider .main-slider__carousel .owl-item {
  height: 100%;
}
.main-slider .main-slider__carousel img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main-slider .main-slider__carousel:before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(29, 30, 31, 0.4)), color-stop(50%, rgba(29, 30, 31, 0.1)), to(rgba(29, 30, 31, 0.4)));
  background: linear-gradient(to right, rgba(29, 30, 31, 0.4) 0%, rgba(29, 30, 31, 0.1) 50%, rgba(29, 30, 31, 0.4) 100%);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.main-slider .main-slider__content {
  position: relative;
  z-index: 10;
}
.main-slider .main-slider__content h1 {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .main-slider {
    padding: 50px 0;
  }
  .main-slider .main-slider__content h1 {
    font-size: 23px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  }
}

.main-experiencia {
  padding: 60px 0;
  background-color: #f9f9f9;
}
.main-experiencia .container {
  max-width: 980px;
}
.main-experiencia h2 {
  text-align: center;
  font-size: 35px;
}
.main-experiencia h2 span {
  background: radial-gradient(circle, #04d6f1 0%, #6ee78c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-experiencia p {
  text-align: center;
  font-size: 17px;
  margin-bottom: 50px;
  font-weight: 400;
}
.main-experiencia .item-experiencia {
  text-align: center;
  max-width: 250px;
  margin: auto;
}
.main-experiencia .item-experiencia img {
  width: 60px;
}
.main-experiencia .item-experiencia h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
.main-experiencia .item-experiencia p {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 767px) {
  .main-experiencia h2 {
    font-size: 20px;
  }
  .main-experiencia p {
    font-size: 13px;
    margin-bottom: 0;
  }
  .main-experiencia .item-experiencia {
    margin-top: 35px;
  }
  .main-experiencia .item-experiencia p {
    font-size: 12px;
  }
  .main-experiencia .item-experiencia h3 {
    font-size: 18px;
  }
}

.main-destinos {
  padding: 60px 0;
}
.main-destinos .main-destinos__carousel {
  padding: 0 40px;
}
.main-destinos h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}
.main-destinos h2 span {
  background: radial-gradient(circle, #04d6f1 0%, #6ee78c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-destinos .owl-nav img {
  width: 15px;
}
.main-destinos .owl-nav .owl-prev {
  position: absolute;
  outline: none;
  top: calc(50% - 12.5px);
  left: 0;
}
.main-destinos .owl-nav .owl-prev img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main-destinos .owl-nav .owl-next {
  position: absolute;
  outline: none;
  top: calc(50% - 12.5px);
  right: 0;
}
@media (max-width: 992px) {
  .main-destinos .owl-item {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .main-destinos .owl-item {
    padding: 0;
  }
  .main-destinos .main-destinos__carousel {
    padding: 0 25px;
  }
  .main-destinos h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.main-quienes_somos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7f7;
}
.main-quienes_somos figure {
  margin: 0;
  width: 45%;
}
.main-quienes_somos figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main-quienes_somos .separador {
  width: 70px;
  height: 4px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#FFFF00), to(#00D5F5));
  background: linear-gradient(90deg, #FFFF00 0%, #00D5F5 100%);
  display: inline-block;
  margin-bottom: 20px;
}
.main-quienes_somos .content {
  width: 55%;
  padding: 50px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.8em;
}
.main-quienes_somos .content p {
  max-width: 650px;
}
.main-quienes_somos .content p:last-child {
  margin: 0;
}
.main-quienes_somos h2 {
  font-size: 30px;
  margin-bottom: 25px;
}
.main-quienes_somos h2 span {
  background: radial-gradient(circle, #04d6f1 0%, #6ee78c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .main-quienes_somos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-quienes_somos figure {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main-quienes_somos .content {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 50px 20px;
  }
  .main-quienes_somos h2 {
    font-size: 24px;
    text-align: center;
  }
  .main-quienes_somos .separador {
    width: 30px;
    height: 3px;
  }
}

.main-newsletter {
  padding: 75px 0;
  text-align: center;
}
.main-newsletter h2 {
  font-size: 25px;
  margin-bottom: 25px;
  color: #222;
}
.main-newsletter .newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-newsletter .newsletter form figure img {
  width: 60px;
}
.main-newsletter .newsletter form input {
  margin: 0 10px;
}
@media (max-width: 767px) {
  .main-newsletter {
    padding: 50px 0;
  }
  .main-newsletter .newsletter form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-newsletter .newsletter form figure {
    display: none;
  }
  .main-newsletter .newsletter form input {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-newsletter .newsletter form button {
    width: 100%;
  }
}

.page-listado .page-header {
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
}
@media (max-width: 767px) {
  .page-listado .page-header {
    display: none;
  }
}
.page-listado .listado-buscador {
  background-color: #e6e8e8;
  padding: 20px 0;
}
.page-listado .listado-buscador .buscador {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.page-listado .listado-buscador .buscador .buscador-button button {
  width: auto;
}
.page-listado .listado-buscador .content {
  max-width: 700px;
  margin: auto;
}
@media (max-width: 767px) {
  .page-listado .listado-buscador {
    padding: 40px;
  }
  .page-listado .listado-buscador .buscador {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-listado .listado-buscador .buscador input {
    width: 100%;
  }
  .page-listado .listado-buscador .buscador .buscador-fecha,
  .page-listado .listado-buscador .buscador .buscador-huesped {
    width: 100%;
  }
  .page-listado .listado-buscador .buscador .buscador-button button {
    width: 100%;
  }
}
.page-listado .main-listado {
  padding: 30px 0;
}
.page-listado .main-listado .container {
  max-width: 980px;
}
.page-listado .main-listado .card-destino {
  margin: 30px auto;
  width: 100%;
}

@media (max-width: 767px) {
  .page-single + .main-footer {
    margin-bottom: 34px;
  }
}

.page-single .page-header {
  height: 40vw;
  max-height: 600px;
  width: 100%;
}
.page-single .page-header .page-header--carousel,
.page-single .page-header .owl-stage,
.page-single .page-header .owl-stage-outer,
.page-single .page-header .owl-item {
  height: 100%;
}
.page-single .page-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.page-single .page-header .owl-dots {
  position: absolute;
  left: 0;
  bottom: 20px;
  right: 0;
  z-index: 10;
  text-align: center;
}
.page-single .page-header .owl-dots button {
  margin: 0 5px;
  outline: none;
}
.page-single .page-header .owl-dots button span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 0 1px white;
          box-shadow: 0 0 0 1px white;
  -webkit-transition: 0.2s background-color;
  transition: 0.2s background-color;
}
.page-single .page-header .owl-dots button.active span {
  background-color: white;
}
.page-single .page-single--content {
  padding: 50px 0;
}
.page-single .page-single--content .box-content {
  padding: 70px 50px 50px 50px;
  background-color: #f9f9f9;
  border: 1px solid #ededed;
  border-radius: 5px;
  position: relative;
}
.page-single .page-single--content .box-content .id {
  background: -webkit-gradient(linear, left top, right top, from(#04d6f1), to(#6ee78c));
  background: linear-gradient(90deg, #04d6f1 0%, #6ee78c 100%);
  height: 40px;
  padding: 0 20px;
  border-radius: 0 0 5px 5px;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 50px;
  font-size: 15px;
}
.page-single .page-single--content .box-content .box-title {
  color: #333;
  font-size: 18px;
  font-weight: 500;
}
.page-single .page-single--content .box-content .title {
  color: #5ce1aa;
  font-size: 25px;
  font-weight: 400;
}
.page-single .page-single--content .box-content .ubicacion {
  color: #666;
  font-size: 14px;
}
.page-single .page-single--content .box-content .ubicacion b {
  font-weight: 600;
}
.page-single .page-single--content .box-content .datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  margin: 25px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.page-single .page-single--content .box-content .datos .item {
  width: 25%;
}
.page-single .page-single--content .box-content .datos .item figure {
  margin: 0 0 10px 0;
}
.page-single .page-single--content .box-content .datos .item img {
  width: 30px;
  height: 20px;
}
.page-single .page-single--content .box-content .datos .item h5 {
  font-size: 17px;
  font-weight: 700;
  color: #333;
  margin: 0;
}
.page-single .page-single--content .box-content .descripcion {
  margin-bottom: 30px;
}
.page-single .page-single--content .box-content .descripcion p {
  color: #666;
}
.page-single .page-single--content .box-content .servicios {
  margin-bottom: 30px;
}
.page-single .page-single--content .box-content .servicios ul {
  margin: 0;
  padding: 0;
  -webkit-column-count: 3;
          column-count: 3;
}
.page-single .page-single--content .box-content .servicios li {
  list-style: none;
  color: #666;
  padding: 2px 0;
}
.page-single .page-single--content .box-content .servicios li:before {
  vertical-align: -3px;
  margin-right: 6px;
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url("../img/icon-checkbox.svg");
}
.page-single .page-single--content .box-content .ubicacion iframe {
  width: 100%;
}
.page-single .page-single--content .box-aside {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}
.page-single .page-single--content .box-aside .box-aside--header {
  background-color: #727272;
  border-radius: 5px 5px 0 0;
  padding: 20px 30px;
}
.page-single .page-single--content .box-aside .box-aside--header p {
  margin: 0;
  color: white;
  font-size: 18px;
}
.page-single .page-single--content .box-aside .box-aside--header b {
  font-size: 27px;
}
.page-single .page-single--content .box-aside .box-aside--header .btn-mobile-close {
  display: none;
}
.page-single .page-single--content .box-aside .box-aside--content {
  border-radius: 0 0 5px 5px;
  padding: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ededed;
}
.page-single .page-single--content .box-aside .box-aside--content .enviado h4 {
  color: #5ce1aa;
  font-size: 24px;
}
.page-single .page-single--content .box-aside .box-aside--content .enviado h5 {
  font-weight: 400;
  font-size: 17px;
  color: #333;
  margin: 15px 0;
}
.page-single .page-single--content .box-aside .box-aside--content .enviado h5 b {
  font-weight: 600;
}
.page-single .page-single--content .box-aside .box-aside--content .enviado hr {
  margin-bottom: 40px;
}
.page-single .page-single--content .box-aside .box-aside--content .enviado p {
  margin: 0;
}
.page-single .page-single--content .box-aside .box-aside--content .copy {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-single .page-single--content .box-aside .box-aside--content .copy figure {
  margin: 0;
}
.page-single .page-single--content .box-aside .box-aside--content .copy img {
  width: 33px;
  margin-right: 10px;
}
.page-single .page-single--content .box-aside .box-aside--content .copy p {
  margin: 0;
  color: #666;
  font-size: 10px;
}
.page-single .page-single--content .box-aside .box-aside--content .form input {
  width: 100%;
  margin-bottom: 10px;
}
.page-single .page-single--content .box-aside .box-aside--content .form button {
  width: 100%;
}
.page-single .page-single--content .box-aside .box-aside--content .form .fechas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-single .page-single--content .box-aside .box-aside--content .form .fechas input {
  width: calc(50% - 5px);
}
.page-single .page-single--content .box-reservar {
  display: none;
}
@media (max-width: 767px) {
  .page-single .page-single--content {
    padding: 0;
  }
  .page-single .page-single--content .box-content {
    padding: 50px 10px 0 10px;
    background: none;
    border: 0;
  }
  .page-single .page-single--content .box-content .id {
    left: 15px;
  }
  .page-single .page-single--content .box-content .datos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-single .page-single--content .box-content .datos .item {
    width: 50%;
  }
  .page-single .page-single--content .box-content .datos .item:first-child, .page-single .page-single--content .box-content .datos .item:nth-child(2) {
    margin-bottom: 20px;
  }
  .page-single .page-single--content .box-content .servicios ul {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .page-single .page-single--content .box-content .ubicacion iframe {
    height: 90vw;
    margin-left: -25px;
    margin-right: -25px;
    width: calc(100% + 50px);
  }
  .page-single .page-single--content .box-reservar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 100;
    background-color: #727272;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
  }
  .page-single .page-single--content .box-reservar p {
    margin: 0 10px 0 0;
    color: white;
    font-size: 13px;
  }
  .page-single .page-single--content .box-reservar b {
    display: block;
    font-size: 27px;
    line-height: 1;
  }
  .page-single .page-single--content .box-aside {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 100;
    height: calc(100vh - 60px);
    background-color: #f9f9f9;
    overflow: auto;
    -webkit-transition: .5s transform ease-in-out;
    transition: .5s transform ease-in-out;
  }
  .page-single .page-single--content .box-aside.active {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  .page-single .page-single--content .box-aside .box-aside--header {
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-single .page-single--content .box-aside .box-aside--header .btn-mobile-close {
    display: inline-block;
  }
  .page-single .page-single--content .box-aside .box-aside--header img {
    width: 20px;
  }
  .page-single .page-single--content .box-aside .box-aside--header p {
    margin: 0 10px 0 0;
    color: white;
    font-size: 13px;
  }
  .page-single .page-single--content .box-aside .box-aside--header b {
    display: block;
    font-size: 27px;
    line-height: 1;
  }
  .page-single .page-single--content .box-aside .box-aside--content {
    border-radius: 0;
    border-bottom: 0;
  }
}

.page-contacto .page-header {
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
}
.page-contacto .page-contacto--content {
  padding: 50px 0;
}
.page-contacto .page-contacto--content .container {
  max-width: 950px;
}
.page-contacto .page-contacto--content .col-title {
  text-align: center;
}
.page-contacto .page-contacto--content .col-title h2 {
  font-size: 35px;
}
.page-contacto .page-contacto--content .col-title h2 span {
  background: radial-gradient(circle, #04d6f1 0%, #6ee78c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page-contacto .page-contacto--content .col-title p {
  font-size: 17px;
  margin-bottom: 50px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  letter-spacing: -0.02em;
}
.page-contacto .page-contacto--content .form input {
  width: 100%;
  margin-bottom: 10px;
}
.page-contacto .page-contacto--content .form textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
  margin-bottom: 10px;
  padding-top: 10px;
}
.page-contacto .page-contacto--content .contact-aside .item {
  margin-bottom: 15px;
}
.page-contacto .page-contacto--content .contact-aside .item figure {
  margin: 0 0 10px 0;
}
.page-contacto .page-contacto--content .contact-aside .item figure img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
}
.page-contacto .page-contacto--content .contact-aside .item h2 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
}
.page-contacto .page-contacto--content .contact-aside .item .whatsapp {
  color: #5ce1aa;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.page-contacto .page-contacto--content .contact-aside .email a {
  font-size: 20px;
  color: #333;
}
@media (max-width: 768px) {
  .page-contacto .page-contacto--content .contact-aside {
    margin-top: 15px;
  }
}

body {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
@media (max-width: 768px) {
  body {
    margin-top: 60px;
  }
}

.wow {
  visibility: hidden;
}
