.btn-rounded {
  border: 0;
  color: $c-black;
  background-color: white;
  border-radius: 50px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
  transition: 0.5s color, 0.2s background-color, .15s transform;
  &:hover {
    text-decoration: none;
    background-color: $c-black;
    color: white;
  }
  &.black {
    background-color: $c-black;
    color: white;
    &:hover {
      background-color: white;
      color: $c-black;
    }
  }
  &:active{
    transform: scale(.97);
  }
  @media(max-width: 768px){
    font-size: 17px;
  }
}
