#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .glow {
    pointer-events: none;
    top: -110px;
    left: 10%;
    width: 390px;
    background: #383d3e;
    box-shadow: 0 0 60px #fc7433;
    border-radius: 50%;
    height: 110px;
    position: absolute;
    transform: translate3d(0, 0, 0);
  }
  // overflow: hidden;
  background-color: #383d3e;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 110px 0 30px;
  z-index: 1000;
  // position: relative;
  .logo {
    img {
      width: 135px;
    }
  }
  > nav {
    margin: auto;
    a {
      margin: 0 15px;
      color: white;
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
    }
    a.active {
      color: #cbcab5;
    }
  }
  .btn-menu {
    z-index: 2000;
    position: absolute;
    z-index: 5000;
    right: 30px;
    width: 50px;
    height: 50px;
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.4s transform;
    span {
      margin: 2px 0;
      width: 25px;
      height: 2px;
      background: white;
      transition: 0.4s opacity;
    }
  }
  &.active {
    .btn-menu {
      transform: rotate(180deg);
      span:first-child {
        opacity: 0;
      }
      span:last-child {
        opacity: 0;
      }
    }
  }
  @media (max-width: 730px) {
    > nav {
      display: none;
    }
  }
}

.menu {
  background: #383d3e;
  position: fixed;
  width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: 0.4s transform;
  display: flex;
  flex-direction: column;
  z-index: 500;
  nav {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
    padding: 45px;
    a {
      font-size: 25px;
      color: white;
      text-decoration: none;
      margin-bottom: 10px;
    }
    a.active {
      color: #cbcab5;
    }
  }
  footer {
    margin-top: auto;
    padding: 25px;
    text-align: center;
    img {
      width: 130px;
    }
    p {
      margin: 15px 0 0 0;
      color: #cec4af;
      font-size: 14px;
      letter-spacing: 0.04em;
    }
  }
  &.active {
    transform: translateX(0%);
  }
}

.footer-top {
  background-image: url("../img/footer-color-2.jpg");
  background-size: cover;
  background-position: bottom center;
  padding: 100px 0;
  height: 40vw;

  max-height: 390px;
  min-height: 300px;
  // margin-top: -150px;
  display: flex;
  align-items: flex-end;
  .btn-volver {
    color: white;
    font-size: 19px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    svg {
      fill: white;
      width: 14px;
    }
  }
  @media (max-width: 768px) {
    padding: 100px 0 50px 0;
  }
}

.main-footer {
  margin-top: auto;
  padding: 100px 0 50px 0;
  overflow: hidden;
  background-color: #443f3f;
  text-align: center;
  position: relative;
  background-image: url("../img/pattern-flip.png");
  background-size: 70%;
  background-position: bottom left;
  background-repeat: no-repeat;
  .glow {
    pointer-events: none;
    width: 390px;
    background: #383d3e;
    box-shadow: 0 0 100px #fc7433;
    border-radius: 50%;
    height: 110px;
    position: absolute;
    bottom: -110px;
    left: 0;
    transform: translate3d(0, 0, 0);
  }

  img {
    width: 130px;
  }
  .content {
    position: relative;
    p {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #cec4af;
      font-size: 14px;
      letter-spacing: 0.04em;
      margin: 0;
    }
  }
  @media (max-width: 768px) {
    background-size: auto 100%;
    .content {
      p {
        position: relative;
        margin-top: 20px;
      }
    }
  }
}
